/url/cache
/.emacs.desktop
/auto-save-list
/.session
/session.*
*.elc
*~
.*.lock
/tramp
/TODO
/.org-id-locations
cookies
\#*
/tree-sitter
/elpa
/elpa-*
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/thumbs/
/image-dired/
/eshell
/org-clock-save.el
/recentf
/projectile-bookmarks.eld
.cache/
/transient
/eln-cache/
/projects
/forge-*.sqlite
/projectile.cache
/semanticdb
/data
/init.el
/settings.el
